
@import url('https://fonts.googleapis.comcss?family=Poppins:200i,400&display=swap');
* {
    padding: 0;
    margin: 0;
}
:root {
    --theme: rgba(127, 80, 255, 1);
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
    position: static;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    background: var(--theme);
    background-image: linear-gradient(180deg, rgba(0, 0, 200, 0.8), rgba(255, 255, 255, 0.5)), url(programmer.jpg);
    /* background-repeat: no-repeat; */
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 10px rgba(16, 0, 156, 0.8);
}
#Heading {
    padding-top: 30vh;
}
#Heading:hover {
    transform: scale(1.01);
    /* transform: translate(0, -5px); */
    /* padding-top: 34vh; */
}
button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    height: 2em;
    width: 10em;
    border-radius: 5px;
    margin-top: 10px;
    background-color: white;
    color: black;
}
button:hover {
    background-color: var(--theme);
    color: white;
}
section {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--theme);
    justify-content: center;
}
#box1,
#box2,
#box3 {
    width: 23%;
    margin: 3em;
    border: solid 2px black;
    border-radius: 5px;
    /* padding: 2em; */
    background-color: white;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.8);
    transition: 500ms all linear;
}
#box1:hover,
#box2:hover,
#box3:hover {
    transform: scale(1.1);
}
div img {
    margin: 0%;
    padding: 0%;
    height: 10em;
    width: 100%;
    margin-bottom: 2em;
}
h2,
p {
    margin: 1em 0;
    text-align: center;
}
p {
    font-style: italic;
    font-weight: bold;
}
footer {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2em;
}
.socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
}
footer div div {
    margin: 0 2em;
}
footer div div img {
    margin: 0 1em;
    padding: 0;
    display: inline;
    height: 1.2em;
    width: 1.2em;
}
footer div div p {
    display: inline;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
footer div div:hover {
    transform: scale(1.1);
}
h3 {
    text-align: center;
    margin: 1em;
}
#copyrights {
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 800px) {
    #box1,
    #box2,
    #box3 {
        width: 50%;
    }
}
@media screen and (max-width: 543px) {
    #box1,
    #box2,
    #box3 {
        width: 50%;
    }
    footer div {
        display: flex;
        flex-wrap: wrap;
    }
    footer div div {
        margin: 0 50px;
        display: block;
    }
}
@media screen and (max-width: 450px) {
    header {
        font-size: 0.5em;
    }
}
@media screen and (max-width: 343px) {
    h2,
    section div p {
        font-size: 0.7em;
    }
}
#name{
    font-weight: bold;
    text-decoration: underline;
    font-size: larger;
}
#name:hover{
    color: yellow;
}